assets
css
forgotpassword.html
dashboard.html
login.html
managewaste.html
notifications.html
pickuphistory.html
profile.html
recyclewallet.html
settings.html
signup.html
store.html
transactions.html
updateprofile.html